[Desktop Entry]
Encoding=UTF-8
Name=Valuero Core
Comment=Connect to the Valuero P2P Network
Comment[de]=Verbinde mit dem Valuero peer-to-peer Netzwerk
Comment[fr]=Valuero, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Valuero, eşten eşe kriptografik sanal para birimi
Exec=valuero-qt %u
Terminal=false
Type=Application
Icon=valuero128
MimeType=x-scheme-handler/valuero;
Categories=Office;Finance;
